/*
    Author: Daniil
    ColorScheme:
        White: rgb(255, 255, 255)     hex #ffffff
        Silver:  rgb(191, 192, 192)     hex #bfc0c0
        Mandarin: rgb(239, 131, 84     hex #ef8354
        Space Cadet: rgb(45, 49, 66)     hex #2d3142
        Independence:   rgb(79, 93, 117)     hex #4f5d75
*/

/*Body*/

body {
    background-color:#bfc0c0;
    font-family: Arial, Helvetica, sans-serif;
}
/*Header CSS*/
.header {
   text-align: center;
   line-height: 50px ;
   margin: 0px auto;
   width: 844px;
   /*background-color: #ffffff;*/
   height: 55px;
   padding: 0 78px;
   
   
}

.header h1 {
    color: #ef8354;
    font-family: Apple Chancery, cursive ;
}

/*Navigation CSS*/
.nav {
    background-color: #2d3142;
    font-size: large;
    height: 50px;
    width: 844px;
    margin: 10px auto;
    padding: 0 78px;
}

.nav ul {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li {
    padding-top: 15px ;
    display: inline-block;
}

.nav a {
    text-align: center;
    padding: 15px 16px;
    color: #ffffff;
    text-decoration: none;
}
.nav a:hover {
    background-color:#4f5d75;
}


/*Main Content CSS*/
.main {
    width: 844px;
    height:auto;
    background-color: #ffffff;
    border-bottom: 10px;
    margin: auto;
    padding: 10px 78px;
}

.main h2 {
    color: #2d3142  ;
}

.main ul {
   margin: 0;
   padding: 0;
   list-style-position: inside;
   line-height: 1.5;
}

iframe {
    border: none;
}

.nobullet {
    list-style: none;
}

.nested {
    list-style: none;
    margin-left: 20px;
    text-decoration: underline;
}


/*Footer CSS*/
.footer {
    width: 844px ;
    background-color: #4f5d75;
    height: 30px;
    margin: 10px auto;
    padding: 0 78px;
}

.footer p {
    color: #ef8354;
    margin: auto;
    text-align: center;
    top: 5px;
    position: relative;
}